:root {
  --tile-size: 150px;
  --board-cols: 1;
  --board-rows: 1;
}

#app {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

svg {
  display: block;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--board-cols), var(--tile-size));
  grid-template-rows: repeat(var(--board-rows), var(--tile-size));
}

.board .tile {
  width: var(--tile-size);
  height: var(--tile-size);
  position: relative;
}

.board .tile .claim {
  position: absolute;
  z-index: 2;
  width: calc(var(--tile-size) * (1/2));
}

.board .tile-image {
  position: absolute;
  z-index: 1;
}

.board .tile.RIGHT .tile-image {
  rotate: 90deg;
}

.board .tile.DOWN .tile-image {
  rotate: 180deg;
}

.board .tile.LEFT .tile-image {
  rotate: 270deg;
}
