:root {
  --tile-size: 150px;
  --board-cols: 1;
  --board-rows: 1;
}

#app {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

.tile-example {
  width: 100px;
  position: relative;
  margin: 2px;
}

.tile-example .claim {
  position: absolute;
  width: 10%;
  height: 10%;
  background: purple;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

.tile-example .claim.CITY {
  background: red;
}

.tile-example .claim.ROAD {
  background: blue;
}

.tile-example .claim.FIELD {
  background: black;
}

.tile-example .claim.FARM {
  background: deeppink;
}

.claim.C {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.claim.N,
.claim.NE,
.claim.NW {
  top: 0;
}

.claim.NE,
.claim.E,
.claim.SE {
  right: 0;
  left: auto;
}

.claim.SE,
.claim.S,
.claim.SW {
  bottom: 0;
}

.claim.NW,
.claim.W,
.claim.SW {
  left: 0;
}

.claim.E,
.claim.W {
  top: 50%;
  transform: translateY(-50%);
}

.claim.N,
.claim.S {
  left: 50%;
  transform: translateX(-50%);
}

.claim.NW {
  transform: translate(-25%, -50%);
}

.claim.N {
  transform: translate(-50%, -50%);
}

.claim.NE {
  transform: translate(25%, -50%);
}

.claim.E {
  transform: translate(25%, -50%);
}

.claim.SE {
  transform: translate(25%, 0);
}

.claim.S {
  transform: translate(-50%, 0);
}

.claim.SW {
  transform: translate(-25%, 0);
}

.claim.W {
  transform: translate(-25%, -50%);
}

svg {
  display: block;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--board-cols), var(--tile-size));
  grid-template-rows: repeat(var(--board-rows), var(--tile-size));
}

.board .tile {
  width: var(--tile-size);
  height: var(--tile-size);
  position: relative;
}

.board .tile .claim {
  position: absolute;
  z-index: 2;
  width: calc(var(--tile-size) * (1/2));
  height: calc(var(--tile-size) * (1/2));
}

.board .tile-image {
  position: absolute;
  z-index: 1;
}

.board .tile.E .tile-image {
  rotate: 90deg;
}

.board .tile.S .tile-image {
  rotate: 180deg;
}

.board .tile.W .tile-image {
  rotate: 270deg;
}
